<html>
    <head> <title> cuadrado </title> </head>
    <script language="javascript">
     

    function Area()
            {
        var area, base, perimetro;
                base = prompt("Ingrese un lado");
    
                base = parseInt(base);
                area = (base * base);
                perimetro = (base + base +base +base)
    
                alert("El area del cuadrado es:" +area);
                alert("El perimetro del cuadrado es:" +perimetro);
            }
        </script>
      <form name="form1">
          <input type="button" value="calcular" onclick=Area()>
       </form>
       </center>
      </body>
    </html> 